@use 'variables' as v;

.footer {
    background-color: v.$primary-color;
    color: #ffffff;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    h4 {
        font-size: 1.8rem;
        font-weight: v.$extrabold-weight;
        text-align: center;
        padding: 25px 0;
    }
    &__names-container {
        width: 100%;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
        p {
            font-size: 1.5rem;
            &:hover {
                transform: scale(1.2);
                font-weight: v.$semibold-weight;
            }
        }
    }
    @media (min-width: 1115px) {
        width: 1115px;
        padding: 0 50px;
        flex-direction: row;
        align-items: center;
        margin: 0 auto;
        h4 {
            display: block;
            width: 35%;
            font-size: 2.8rem;
            text-align: left;
        }
        &__names-container {
            width: 65%;
            flex-direction: row;
            padding-bottom: 0;
            p {
                font-size: 1.8rem;
            }
        }
    }
}