@use 'variables' as v;
@use 'mixins';

.modal-checkout {
  width: 350px;
  height: 400px;
  padding: 20px;
  border-radius: 25px;
  background-color: #ffffff;
  &__background {
    @include mixins.backgroundModal;
    z-index: 3;
    display: none;
    // display: grid;
    place-content: center;
  }
  &__close-icon:hover {
    cursor: pointer;
    content: url('../assets/images/icon-close-orange.svg');
    transform: scale(1.5);
  }
  &__form {
    width: 100%;
    height: 100%;
    padding: 10px;
    display: grid;
    place-items: center;
  }
  &__input {
    width: 240px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #D3D3D3;
    padding: 5px 15px;
    &::placeholder {
      font-size: 1.7rem;
    }
    &:focus {
      outline: 1.5px solid v.$primary-color;
    }
  }
  &__button {
    cursor: pointer;
    width: 240px;
    height: 40px;
    border: none;
    border-radius: 10px;
    background-color: v.$primary-color;
    color: #ffffff;
    font-size: 1.7rem;
    font-weight: v.$semibold-weight;
    letter-spacing: 1px;
  }
}

// .class-text {
//   width: 100%;
// }