// Global variables
$primary-color: #FF7D1A;
$secondary-color: 	#ffede0;
$primary-text-color: #68707d;
$font-stack: 'Kumbh Sans', sans-serif;
$regular-weight: 400;
$medium-weight: 500;
$semibold-weight: 600;
$extrabold-weight: 700;

* { // restart default styles
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: $font-stack;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: $primary-text-color;
}

header {
    width: 100%;
    height: 70px;
    padding: 20px;
    border-bottom: 1px solid rgba(#D3D3D3, 0.682);
    .navbar-header {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .options-list {
            width: 50%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .burguer-menu, .menu {
                position: fixed;
            }
            .burguer-menu {
                cursor: pointer;
                background: transparent;
                border: none;
                z-index: 4;
                top: 12px;
                left: 10px;
                display: grid;
                place-items: center;
                width: 17px;
                height: 17px;
                margin: 1.5rem;
                background-image: url('../assets/images/icon-menu.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
            .menu {
                z-index: 2;
                top: 0;
                left: 0;
                display: grid;
                place-items: center;
                width: 263px;
                height: 100%;
                background-color: #FFFFFF;
                translate: -100% 0;
                transition: translate 0.375s cubic-bezier(0.175, 0.885, 0.32, 1);
                nav {
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    padding: 80px 25px;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-start;
                    align-items: flex-start;
                    gap: 2.8rem;
                    a {
                        position: relative;
                        color: $primary-text-color;
                        font-family: $font-stack;
                        font-size: 1.7rem;
                        font-weight: $semibold-weight;
                        letter-spacing: 0.5px;
                    }
                }
            }
            .logo {
                margin-left: 40px;
                margin-right: 40px;
            }
        }
        .actions-list {
            width: 50%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            .cart {
                a {
                    svg {
                        fill: $primary-text-color;
                    }    
                }
            }
            .avatar {
                width: 30px;
                height: 30px;
                margin-left: 25px;
                img {
                    width: 100%;
                }
            }
        }
    }
}

main {
    width: 100%;
    height: 100%;
    padding: 0 12px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(2, auto);
    gap: 2.2rem;
    .product-container {
        width: 100%;
        height: 100%;
        position: relative;
        img {
            width: 100%;
            object-fit: cover;
        }
        .button-container {
            width: 100%;
            display: flex;
            justify-content: space-between;
            position: absolute;
            top: calc(50% - 20px);
            button {
                cursor: pointer;
                border: none;
                border-radius: 50%;
                background-color: #FFFFFF;
                width: 40px;
                height: 40px;
                margin: 0 5px;
            }
        }
        .carousel {
            width: 100%;
            display: flex;
            justify-content: center;
            position: absolute;
            bottom: 15px;
            button:nth-child(1) {
                background-color: $primary-color;
            }
            button {
                cursor: pointer;
                width: 12px;
                height: 12px;
                border: none;
                border-radius: 50%;
                margin: 0 10px;
                background-color: $secondary-color;
            }
        }
    }
    .product-details-container {
        width: 100%;
        height: 100%;
        display: grid;
        .details {
            width: 100%;
            height: auto;
            display: flex;
            flex-direction: column;
            span {
                margin-bottom: 20px;
                text-transform: uppercase;
                color: $primary-color;
                font-size: 1.2rem;
                font-weight: $extrabold-weight;
                letter-spacing: 1.2px;
            }
            h1 {
                font-size: 2.8rem;
                font-weight: $extrabold-weight;
                line-height: 1;
                margin-bottom: 20px;
            }
            p {
                font-size: 1.6rem;
                font-weight: $medium-weight;
                line-height: 1.5;
                color: $primary-text-color;
            }
        }
        .price {
            width: 100%;
            height: auto;
            margin-bottom: 10px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .discount {
                width: 50%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                span:nth-child(1) {
                    font-size: 2.8rem;
                    font-weight: $extrabold-weight;
                }
                span:nth-child(2) {
                    background-color: $secondary-color;
                    padding: 0.4rem 1.1rem;
                    font-size: 1.5rem;
                    font-weight: $extrabold-weight;
                    color: $primary-color;
                    border-radius: 5px;
                }
            }    
            .last-price {
                font-size: 1.5rem;
                font-weight: $extrabold-weight;
                letter-spacing: 1.6px;
                color: #b6bcc8;
                text-decoration: line-through;
            }
        }
        .addtocart-container {
            width: 100%;
            height: auto;
            display: grid;
            gap: 1.5rem;
            .quantity {
                width: 100%;
                padding: 10px 16px;
                background-color: #f7f8fd;
                border-radius: 7px;
                display: flex;
                justify-content: space-between;
                align-items: center;
                button {
                    cursor: pointer;
                    border: none;
                    background-color: transparent;
                    width: 30px;
                    height: 30px;
                    display: flex;
                    align-items: center;
                }
                span {
                    font-size: 1.4rem;
                    font-weight: $extrabold-weight;
                }
            }
            .addtocard-btn {
                cursor: pointer;
                width: 100%;
                height: 54px;
                margin-bottom: 40px;
                border: none;
                border-radius: 8px;
                background-color: $primary-color;
                display: flex;
                align-items: center;
                justify-content: space-evenly;
                padding: 0 90px;
                svg {
                    fill: #FFFFFF;
                }
                span {
                    color: #FFFFFF;
                    padding-right: 10px;
                    font-size: 1.5rem;
                    font-weight: $extrabold-weight;
                }
            }
        }
    }
}

// open/close burguer menu
body.open .options-list .burguer-menu {
    background: url('../assets/images/icon-close.svg') center no-repeat;
    background-size: cover;
    width: 16px;
    height: 16px;
    margin: 1rem;
}

body.open .options-list > .menu {
    opacity: 1;
    visibility: visible;
    translate: 0;
    animation: menu-appear 0.375s;
}

body.open .options-list > .menu > nav {
    opacity: 1;
}

@keyframes menu-appear {
    0% {
      clip-path: ellipse(60% 60% at 0% 50%);
    }
    100% {
      clip-path: ellipse(120% 120% at 0% 50%);
    }
  }
  