@use 'variables' as v;
@use 'header';
@use 'navbar';
@use 'modalNavbar';
@use 'gallery';
@use 'productDetails';
@use 'quantity';
@use 'modalCart';
@use 'modalGallery';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
	font-family: v.$font-stack;
  width: 100%;
  height: 100%; 
  .wrapper {
    width: 375px;
    margin: auto;
    position: relative;
    @media (min-width: 1115px) {
      width: 1115px;
    }
  }
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}



.main-content {
  @media (min-width: 1115px) {
    display: flex;
    gap: 124px;
    padding: 90px 50px;
  }
}

.show {
  display: block;
}

.cart-empty {
  text-align: center;
  font-size: 1.8rem;
  color: v.$primary-text-color;
  margin-top: 25px;
}