@use 'variables' as v;
@use 'mixins';

.cart-button {
    right: 40px;
    background-color: orange;
    padding: 10px;
    border-radius : 50%;
    height: 24px;
    width: 24px;
    transition: transform 0.2s ease-in-out;
    &__{
        &:hover{
            cursor: pointer;
        }
}