@use 'variables' as v;
@use 'mixins';

.modal-checkout{
    width: 350px;
    height: 550px;
    padding: 20px;
    &__brackground{
        @include mixins.backgroundModal;

        display: none;
        place-content: center;
        
    }
}