@use 'variables' as v;
@use 'mixins';

.modal-checkout{
    width: 350px;
    height: 550px;
    padding: 20px;
    background-color: v.$White;
    &__brackground{
        @include mixins.backgroundModal;
        z-index: 2;
        display: none;
        place-content: center;

        
    }
}