@use 'variables' as v;
@use 'mixins';

.modal-checkout{
    width: 350px;
    &__brackground{
        @include mixins.backgroundModal;
        z-index: 2;
        display: none;
        &place-conten
    }
}