// Global variables
$primary-color: #FF7D1A;
$secondary-color: 	#ffede0;
$primary-text-color: #68707d;
$black-modal: hsl(0, 0%, 0%, 0.5);
$title-color: hsl(250, 8%, 15%);
$text-color: hsl(250, 8%, 35%);
$body-color: hsl(250, 60%, 96%);
$container-color: #fff;
$shadow: hsla(0, 0%, 15%, .1);
$scroll-bar-color: hsl(250, 12%, 86%);
$scroll-thumb-color: hsl(250, 12%, 80%);
$font-stack: 'Kumbh Sans', sans-serif;
$regular-weight: 400;
$medium-weight: 500;
$semibold-weight: 600;
$extrabold-weight: 700;
$biggest-font-size: 6.4rem;
$h1-font-size: 4.6rem;
$h2-font-size: 2.4rem;
$h3-font-size: 2rem;
$normal-font-size: 2rem;
$small-font-size: 1.8rem;
$smaller-font-size: 1.4rem;
$mb-0-5: .5rem;
$mb-0-75: .75rem;
$mb-1: 1rem;
$mb-1-5: 1.5rem;
$mb-2: 2rem;
$mb-2-5: 2.5rem;
$mb-3: 4.8rem;
